<h1 style="color:rgb(242, 243, 236); text-decoration: underline;">Login de Usuario</h1>
<br>

<form id="login" action="http://localhost:8080/formulario/login" method="POST">

    <div class="form-group" style="color:rgb(242, 243, 236);">
        <label for="nombre"><b>Ingrese su nombre: </b></label>
        <input id="usuario" class="form-control" type="text" name="usuario" style="width:500px">
            <button id="enviar" class="btn btn-success mt-3 mb-5"  style="background-color: rgb(35, 35, 139);" type="submit">Enviar</button>

    </div>
  

     
    {{!-- <script src="js/login.js"></script> --}}

</form>
 
