<form id="logout">
    <table style="width: 580px"  id="salida" class="table table-striped table-bordered table-secondary">
      <td><strong>Hasta luego {{usuario}}</strong></td>
    </table>
  <script src="js/logout.js"></script> 
</form>
 
