<form id="logout" action="/volveralogin" method="get">
    <table style="width: 580px"  id="despedida" class="table table-striped table-bordered table-secondary">
      <td><strong>Hasta luego {{usuario}}</strong></td>
    </table>
  <script src="js/logout.js"></script> 
</form>

<script>
        document.getElementById("logout").submit();
</script>
 
